.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  text-align: center;
  padding: 10px 20px;
  align-content: space-around;

}

.App h1{
  color: rgb(85, 2, 74);
  margin: 15px;
  
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px 15px 15px 15px;

}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  margin:20px 0px 20px 20px;
  
}

.search-button{
  background: purple;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display:flex;
  color: rgb(85, 2, 74);
  flex-wrap: wrap;

}

.recipes ul{
  list-style: none;
  padding: 5px;
  margin:0px;
}

.recipes h1{
  margin: 10px;
}

.recipes p{
  margin-top: 10px;
}

